
<div class="border rounded-lg p-4 roll_loc shadow-sm bg-white">
    <div class="d-flex justify-content-between">
        <h3 class="header-text">Color Configuration</h3>
    </div>
    <div class="inline__flex filter row">
        <div class="col-md-10">
            <Searchbox></Searchbox>
        </div>
        <div class="col-md-2">

            <button class="btn bg-btn col-12 text-light" data-toggle="modal" data-target="#color" font-size="12px" @onclick="(e => AddColorHandler())">Add Color Configuration</button>

        </div>
    </div>

    <div class="pl-3 pr-3 table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="tb-header text-center">Color</th>
                    <th class="tb-header text-center">Sales Percentage (%)</th>
                    <th class="tb-header text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ColorListModel.Result.Items)
                {
                    <tr>
                        <td class="tb-td-text text-center">@item.Label</td>
                        <td class="tb-td-text text-center">@item.SalesPercentage</td>
                        <td class="tb-td-text text-center">
                            <span class="cursor-pointer"
                                  @onclick="@(e => EditColor(@item.Id))" data-toggle="modal" data-target="#color">Edit</span> |

                            <span class="cursor-pointer"
                                  @onclick="@(e => RemoveColor(@item.Id))">Delete</span>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>

<!-- Modal Reservation -->
<EditForm Model="ColorModel" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <div class="modal fade" id="color" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @if (IsAddColor)
                    {
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Color Configuration</h5>
                    }
                    else
                    {
                        <h5 class="modal-title" id="exampleModalLongTitle">Update Color Configuration</h5>
                    }
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="(e => ClearAll())">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group mt-4">
                        <label for="formGroupExampleInput">Color<span class="text-danger">*</span></label>
                        <InputText @bind-Value="ColorModel.Label" class="form-control mb-2 form-control-sm" placeholder="Enter Color" />
                        <ValidationMessage For="@(() => ColorModel.Label)" />
                    </div>
                    <div class="form-group mt-4">
                        <label for="formGroupExampleInput">Sales Percentage<span class="text-danger">*</span></label>
                        <InputNumber @bind-Value="ColorModel.SalesPercentage" class="form-control mb-2 form-control-sm" placeholder="Enter Sales Percentage" />
                        <ValidationMessage For="@(() => ColorModel.SalesPercentage)" />
                    </div>
                    <div class="form-group mt-4">
                        <label for="formGroupExampleInput">Short Code</label>
                        <InputText @bind-Value="ColorModel.ShortCode" min="0" max="0" class="form-control mb-2 form-control-sm" placeholder="Enter Short Code" />
                        <ValidationMessage For="@(() => ColorModel.ShortCode)" />
                    </div>
                    <div class="form-group mt-4">
                        <label for="formGroupExampleInput">Order Number</label>
                        <InputNumber @bind-Value="ColorModel.OrderNumber" min="0" class="form-control mb-2 form-control-sm" placeholder="Enter Order Number" />
                        <ValidationMessage For="@(() => ColorModel.OrderNumber)" />
                    </div>
                    <div class="form-group mt-4">
                        <label for="formGroupExampleInput">Hex Code</label>
                        <InputText @bind-Value="ColorModel.HexCode" min="0" max="0" class="form-control mb-2 form-control-sm" placeholder="Enter Hex Code" />
                        <ValidationMessage For="@(() => ColorModel.HexCode)" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn text-light btn-lg btn-danger buttons__class"
                            data-dismiss="modal" @onclick="(e => ClearAll())">
                        Close
                    </button>
                    <button type="submit" class="btn bg-btn text-light btn-lg btn-success buttons__class">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>