@page "/inventory/supplier/"


<CascadingValue Value="@Module" Name="Module">
    <CascadingValue Value="@ModuleMessage" Name="ModuleMessage">
        <BannerLayoutSSY></BannerLayoutSSY>
    </CascadingValue>
</CascadingValue>

@* <Graph /> *@
<div class="bg-white">
    <InventoryNavsLayout />
</div>
 

    <div class="supplier__table">
        <form class="pt-3">
            <div class="form-group">
                <div class="row">

                    <div class="col-12">
                        <div class="border rounded-lg shadow-sm bg-white">
                            <div class="row pl-2 pr-2">
                                <div class="col-lg-6 col-md-6 col-sm-12 mt-3 ">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <select class="form-control">
                                                <option>Filter</option>
                                                <option>2</option>
                                            </select>
                                        </div>
                                        <TextEdit type="text" class="form-control" @bind-Text="@customFilterValue" placeholder="Search"></TextEdit>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-2 col-sm-12 mt-3 ">
                                    <button type="button" class="btn col-12 btn-export" @onclick="(e)=> GenerateExcel()">
                                        Export All <span class="oi oi-data-transfer-upload"></span>
                                    </button>
                                </div>

                                <div class="col-lg-2 col-md-2 col-sm-12  mt-3 ">
                                    <a href="/inventory/supplier/create">   <button type="button" class="btn bg-btn col-12 text-light">Add Supplier</button></a>
                                </div>


                            </div>

                        <div class="row mt-3">
                            <div class="col-12 ">
                                @if(IsLoading == true)
                                {
                                    <LoadingSpinner></LoadingSpinner>
                                }
                                else
                                {
                            
                                    <DataGrid CustomFilter="@OnCustomFilter"
                                              TItem="CompanyModel"
                                              Data="@_companies"
                                              Responsive
                                              Hoverable="true"
                                              ShowPager="true"
                                              ShowPageSizes="true">

                                        <ChildContent>
                                            @* <DataGridCommandColumn TItem="MaterialModel" /> *@
                                            <DataGridColumn TItem="CompanyModel" Field="@nameof(CompanyModel.Id)" Caption="Material Name" Editable Sortable="false">
                                                <CaptionTemplate>
                                                    <div class="text-center">
                                                        <input type="checkbox" @onchange='@(e => onChangeCheckBoxAll((bool)e.Value))'>
                                                    </div>
                                                </CaptionTemplate>
                                                <DisplayTemplate>
                                                    <div class="text-center">
                                                        <input checked="@(CompanyIds.Contains(context.Id)==true)" type="checkbox" @onchange='@(e => onChangeCheckBox(context.Id, (bool)e.Value))' />
                                                    </div>
                                                </DisplayTemplate>
                                            </DataGridColumn>
                                            <DataGridColumn TItem="CompanyModel" Field="@nameof(CompanyModel.Code)" Caption="COMPANY CODE" Editable>
                                                <DisplayTemplate>
                                                    <a class="tableText" href="/inventory/supplier/@context.Id">
                                                        @context.Code
                                                    </a>
                                                </DisplayTemplate>
                                            </DataGridColumn>
                                            <DataGridColumn TItem="CompanyModel" Field="@nameof(CompanyModel.Name)" Caption="SUPPLIER NAME" Editable>
                                                <DisplayTemplate>
                                                    <a class="tableText" href="/inventory/supplier/@context.Id">
                                                        @context.Name
                                                    </a>
                                                </DisplayTemplate>
                                            </DataGridColumn>
                                            <DataGridColumn TItem="CompanyModel" Field="@nameof(CompanyModel.ContactPersonNames)" Caption="CONTACT NAME" Editable>
                                                <DisplayTemplate>
                                                    <a class="tableText" href="/inventory/supplier/@context.Id">
                                                        @context.ContactPersonNames
                                                    </a>
                                                </DisplayTemplate>
                                            </DataGridColumn>
                                            <DataGridColumn TItem="CompanyModel" Field="@nameof(CompanyModel.Country)" Caption="COUNTRY" Editable>
                                                <DisplayTemplate>
                                                    <a class="tableText" href="/inventory/supplier/@context.Id">
                                                        @context.Country
                                                    </a>
                                                </DisplayTemplate>
                                            </DataGridColumn>
                                            <DataGridColumn TItem="CompanyModel" Field="@nameof(CompanyModel.ContactPersonContactNumber)" Caption="CONTACT NUMBER" Editable>
                                                <DisplayTemplate>
                                                    <a class="tableText" href="/inventory/supplier/@context.Id">
                                                        @context.ContactPersonContactNumber
                                                    </a>
                                                </DisplayTemplate>
                                            </DataGridColumn>
                                            <DataGridColumn TItem="CompanyModel" Field="@nameof(CompanyModel.IsExcessSupplier)" Caption="Excess Supplier" Editable>
                                                <DisplayTemplate>
                                                    <a class="tableText" href="/inventory/supplier/@context.Id">
                                                        @if (@context.IsExcessSupplier == true)
                                                            {
                                                                <p class="text-muted input-field-text" contenteditable="true" placeholder="">Yes</p>
                                                            }
                                                            else
                                                            {
                                                                <p class="text-muted input-field-text" contenteditable="true" placeholder="">No</p>
                                                            }
                                                    </a>
                                                </DisplayTemplate>
                                            </DataGridColumn>
                                        </ChildContent>
                                        <EmptyTemplate>
                                            <div class="box text-center">
                                                No records were found.
                                            </div>
                                        </EmptyTemplate>
                                    </DataGrid>


                                    @* <div class="pl-3 pr-3 table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="tb-header text-center"> <input type="checkbox"  @onchange='@(e => onChangeCheckBoxAll((bool)e.Value))'>  </th>
                                                        <th class="tb-header" @onclick="@(() => SortTable("Code"))"><i class="@(SetSortIcon("Code"))"></i> COMPANY CODE</th>
                                                        <th class="tb-header" @onclick="@(() => SortTable("Name"))"><i class="@(SetSortIcon("Name"))"></i> SUPPLIER NAME</th>
                                                        <th class="tb-header" @onclick="@(() => SortTable("ContactPersonName"))"><i class="@(SetSortIcon("ContactPersonName"))"></i> CONTACT NAME</th>
                                                        <th class="tb-header" @onclick="@(() => SortTable("Country"))"><i class="@(SetSortIcon("Country"))"></i> COUNTRY</th>
                                                        <th class="tb-header" @onclick="@(() => SortTable("ContactPersonNumber"))"><i class="@(SetSortIcon("ContactPersonNumber"))"></i> CONTACT NUMBER</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var supplier in Suppliers)
                                                    {
                                                      <tr>
                                                        <td class="tb-td-text text-center"> <input type="checkbox" checked="@(SupplierIds.Contains(supplier.Id)==true)" @onchange='@(e => onChangeCheckBox(supplier.Id, (bool)e.Value))'> </td>
                                                        <td class="tb-td-text" onclick="location.href='@($"/inventory/supplier/{supplier.Id}'")"> @supplier.Code</td>
                                                        <td class="tb-td-text" onclick="location.href='@($"/inventory/supplier/{supplier.Id}'")"> @supplier.Name</td>
                                                        <td class="tb-td-text" onclick="location.href='@($"/inventory/supplier/{supplier.Id}'")"> @supplier.ContactPersonName</td>
                                                        <td class="tb-td-text" onclick="location.href='@($"/inventory/supplier/{supplier.Id}'")"> @supplier.Country</td>
                                                        <td class="tb-td-text" onclick="location.href='@($"/inventory/supplier/{supplier.Id}'")"> @supplier.ContactPersonNumber</td>
                                                    </tr>

                                                    }



                                                </tbody>
                                            </table>
                                        </div> *@
                                
                                @* <Pagination Module="@Module" Suppliers="@Suppliers" TotalCount="@TotalCount"/> *@
                                }
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </form>
    </div>

    <form class="pt-3">
        <div class="form-group">
            <div class="row mt-3">
                <div class="col-lg-12">
                    <TimelineAndComment PageName="@Module"></TimelineAndComment>
                </div>
            </div>
        </div>
    </form>

    @if (CompanyIds.Any())
    {
        <div class="footer__button">
            <div class="row">
                <div class="col-md-12 col-sm-12 mt-3">
                    <div class="row background">
                        <div class="col-3 col-sm-3 mt-3 left">
                            <p @onclick="(e)=> UnCheckAll()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white" class="bi bi-dash-square" viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                </svg>
                                <span class="badge badge-secondary">@CompanyIds.Count()</span> <span class="text__icon" b-r3kgrtdo8t=""> Item Selected</span>
                            </p>
                        </div>

                        <div class="col-6 col-sm-6 mt-3 centered">
                            <div class="icons">
                                <p>
                                    <span class="cursor__pointer" @onclick="(e)=> DeleteSelectedIds()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                        </svg>
                                        <span class="text__icon">Archive/Delete</span>
                                    </span>

                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white" class="bi bi-download" viewBox="0 0 16 16">
                                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                    </svg>
                                    <span class="text__icon">Download</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white" class="bi bi-upc-scan" viewBox="0 0 16 16">
                                        <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5zM3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z" />
                                    </svg>
                                    <span class="text__icon">Download Qr and Swatches</span>
                                </p>
                            </div>
                        </div>

                        <div class="col-3 col-sm-3 mt-3 right">
                            <div class="close__button">
                                <span class="close" aria-hidden="true">×</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

    @* <TimelineAndComments></TimelineAndComments> *@
