 @foreach (var comment in GetAllCommentOutputModel?.Result?.Items)
    {
        @if (comment.ParentId == null)
        {
            <div class="comment__area @comment.Id">
                <div class="row">
                    <div class="col-md-6 mobile__col6">
                        <div class="comment__name">
                            <p>@comment.NameOfCommentor</p>
                        </div>
                    </div>
                    <div class="col-md-6 mobile__col12">
                        <div class="comment_date inline__display">
                            <div class="row">
                                <div class="col-md-12 moblie__full">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="time_date">
                                                @comment.CreationTime.ToString("MMMM d, yyyy") <span class="time__uppercase">@comment.CreationTime.ToString("hh:mm tt")</span> @if (@comment.CreationTime.ToString("GMT z") == "G7T +8")
                                                {<span class="time"> HKT</span>}
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" data-toggle="collapse"
                                                    data-target="#ReplyModel__@comment.Id"
                                                    class="btn bg-btn col-12 text-light form-control">
                                                Comment
                                            </button>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="settings__comment">
                                                <button type="button" data-toggle="collapse"
                                                        data-target="#set__@comment.Id">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                         fill="#7B8E61" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    </svg>
                                                </button>
                                            </div>
                                            <div id="set__@comment.Id" class="collapse settings__background">
                                                <a type="button" data-toggle="modal" data-target="#editModal__@comment.Id">Edit</a>
                                                <a @onclick='@(e => DeleteSelectedIds(@comment.Id))'>Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        @if (SectionListModel.Result.Items.FirstOrDefault(x => x.Id == comment.SectionId) != null)
                        {
                            <p class="Section">Section: <span class="items__avocado">@SectionListModel.Result.Items.First(x => x.Id == comment.SectionId).Label</span></p>
                        }
                        else
                        {
                            <p class="text-muted input-field-text" contentEditable="false" placeholder="">No Section Selected</p>
                        }
                        @if (SubjectListModel.Result.Items.FirstOrDefault(x => x.Id == comment.SubjectId) != null)
                        {
                            <p class="Subject">Subject:<span class="items__avocado">@SubjectListModel.Result.Items.First(x => x.Id == comment.SubjectId).Label</span> </p>
                        }
                        else
                        {
                            <p class="text-muted input-field-text" contentEditable="false" placeholder="">No Subject Selected</p>
                        }
                        <p class="To">To:@foreach (var to in @comment.Tos)
                        {<span class="items__avocado">@to</span>}</p>
                        <p class="To">To:@foreach (var cc in @comment.CCs)
                        {<span class="items__avocado">@cc</span>}</p>
                        <hr class="avacado__slightcolor" />
                        <div class="material__highlight">
                            Comment applied to: <span class="items__higlight">Daquana SS21 Black Wide Leg Jogger Pants Cool T-Shirt Blue</span>
                        </div>
                        <hr class="avacado__slightcolor" />
                        <p class="title__atachment">Message: <span class="message">@comment.Message</span></p>

                        <div class="col-12">
                            @foreach (var file in @comment.Files)
                            {
                                if (@file.Extension == ".jpeg" || @file.Extension == ".jpg" || @file.Extension == ".png")
                                {
                                    <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#elseModal_@comment.Id">
                                        <img src="@file.Value" class="comment__file mb-3" />
                                    </a>

                                    <div class="modal fade" id="elseModal_@comment.Id">
                                        <div class="modal-dialog">
                                            <div class="modal-content">


                                                <div class="modal-header">
                                                    <p class="modal-title">@file.Value</p>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>


                                                <div class="modal-body">
                                                    <img src="@file.Value" class=" mb-3" />
                                                </div>


                                                <div class="modal-footer">
                                                    <a download="@file.Value" href="@file.Value"><button type="button" class="btn btn-success">Download</button></a>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }
                                if (@file.Extension == ".pdf")
                                {
                                    <a href="@file.Value">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="55" height="45" fill="#7c8e61" class="bi bi-file-pdf mb-3" viewBox="0 0 16 16">
                                            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
                                            <path d="M4.603 12.087a.81.81 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.68 7.68 0 0 1 1.482-.645 19.701 19.701 0 0 0 1.062-2.227 7.269 7.269 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.187-.012.395-.047.614-.084.51-.27 1.134-.52 1.794a10.954 10.954 0 0 0 .98 1.686 5.753 5.753 0 0 1 1.334.05c.364.065.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.856.856 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.716 5.716 0 0 1-.911-.95 11.642 11.642 0 0 0-1.997.406 11.311 11.311 0 0 1-1.021 1.51c-.29.35-.608.655-.926.787a.793.793 0 0 1-.58.029zm1.379-1.901c-.166.076-.32.156-.459.238-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361.01.022.02.036.026.044a.27.27 0 0 0 .035-.012c.137-.056.355-.235.635-.572a8.18 8.18 0 0 0 .45-.606zm1.64-1.33a12.647 12.647 0 0 1 1.01-.193 11.666 11.666 0 0 1-.51-.858 20.741 20.741 0 0 1-.5 1.05zm2.446.45c.15.162.296.3.435.41.24.19.407.253.498.256a.107.107 0 0 0 .07-.015.307.307 0 0 0 .094-.125.436.436 0 0 0 .059-.2.095.095 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a3.881 3.881 0 0 0-.612-.053zM8.078 5.8a6.7 6.7 0 0 0 .2-.828c.031-.188.043-.343.038-.465a.613.613 0 0 0-.032-.198.517.517 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822.024.111.054.227.09.346z" />
                                        </svg>
                                    </a>
                                }
                                if (@file.Extension == ".csv")
                                {
                                    <a href="@file.Value">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="55" height="45" fill="#7c8e61" class="bi bi-filetype-csv mb-3" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM3.517 14.841a1.13 1.13 0 0 0 .401.823c.13.108.289.192.478.252.19.061.411.091.665.091.338 0 .624-.053.859-.158.236-.105.416-.252.539-.44.125-.189.187-.408.187-.656 0-.224-.045-.41-.134-.56a1.001 1.001 0 0 0-.375-.357 2.027 2.027 0 0 0-.566-.21l-.621-.144a.97.97 0 0 1-.404-.176.37.37 0 0 1-.144-.299c0-.156.062-.284.185-.384.125-.101.296-.152.512-.152.143 0 .266.023.37.068a.624.624 0 0 1 .246.181.56.56 0 0 1 .12.258h.75a1.092 1.092 0 0 0-.2-.566 1.21 1.21 0 0 0-.5-.41 1.813 1.813 0 0 0-.78-.152c-.293 0-.551.05-.776.15-.225.099-.4.24-.527.421-.127.182-.19.395-.19.639 0 .201.04.376.122.524.082.149.2.27.352.367.152.095.332.167.539.213l.618.144c.207.049.361.113.463.193a.387.387 0 0 1 .152.326.505.505 0 0 1-.085.29.559.559 0 0 1-.255.193c-.111.047-.249.07-.413.07-.117 0-.223-.013-.32-.04a.838.838 0 0 1-.248-.115.578.578 0 0 1-.255-.384h-.765ZM.806 13.693c0-.248.034-.46.102-.633a.868.868 0 0 1 .302-.399.814.814 0 0 1 .475-.137c.15 0 .283.032.398.097a.7.7 0 0 1 .272.26.85.85 0 0 1 .12.381h.765v-.072a1.33 1.33 0 0 0-.466-.964 1.441 1.441 0 0 0-.489-.272 1.838 1.838 0 0 0-.606-.097c-.356 0-.66.074-.911.223-.25.148-.44.359-.572.632-.13.274-.196.6-.196.979v.498c0 .379.064.704.193.976.131.271.322.48.572.626.25.145.554.217.914.217.293 0 .554-.055.785-.164.23-.11.414-.26.55-.454a1.27 1.27 0 0 0 .226-.674v-.076h-.764a.799.799 0 0 1-.118.363.7.7 0 0 1-.272.25.874.874 0 0 1-.401.087.845.845 0 0 1-.478-.132.833.833 0 0 1-.299-.392 1.699 1.699 0 0 1-.102-.627v-.495Zm8.239 2.238h-.953l-1.338-3.999h.917l.896 3.138h.038l.888-3.138h.879l-1.327 4Z" />
                                        </svg>
                                    </a>

                                }
                                if (@file.Extension == ".xlsx")
                                {
                                    <a href="@file.Value">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="55" height="45" fill="#7c8e61" class="bi bi-filetype-xlsx mb-3" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M14 4.5V11h-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM7.86 14.841a1.13 1.13 0 0 0 .401.823c.13.108.29.192.479.252.19.061.411.091.665.091.338 0 .624-.053.858-.158.237-.105.416-.252.54-.44a1.17 1.17 0 0 0 .187-.656c0-.224-.045-.41-.135-.56a1.002 1.002 0 0 0-.375-.357 2.028 2.028 0 0 0-.565-.21l-.621-.144a.97.97 0 0 1-.405-.176.37.37 0 0 1-.143-.299c0-.156.061-.284.184-.384.125-.101.296-.152.513-.152.143 0 .266.023.37.068a.624.624 0 0 1 .245.181.56.56 0 0 1 .12.258h.75a1.093 1.093 0 0 0-.199-.566 1.21 1.21 0 0 0-.5-.41 1.813 1.813 0 0 0-.78-.152c-.293 0-.552.05-.777.15-.224.099-.4.24-.527.421-.127.182-.19.395-.19.639 0 .201.04.376.123.524.082.149.199.27.351.367.153.095.332.167.54.213l.618.144c.207.049.36.113.462.193a.387.387 0 0 1 .153.326.512.512 0 0 1-.085.29.558.558 0 0 1-.255.193c-.111.047-.25.07-.413.07-.117 0-.224-.013-.32-.04a.837.837 0 0 1-.249-.115.578.578 0 0 1-.255-.384h-.764Zm-3.726-2.909h.893l-1.274 2.007 1.254 1.992h-.908l-.85-1.415h-.035l-.853 1.415H1.5l1.24-2.016-1.228-1.983h.931l.832 1.438h.036l.823-1.438Zm1.923 3.325h1.697v.674H5.266v-3.999h.791v3.325Zm7.636-3.325h.893l-1.274 2.007 1.254 1.992h-.908l-.85-1.415h-.035l-.853 1.415h-.861l1.24-2.016-1.228-1.983h.931l.832 1.438h.036l.823-1.438Z" />
                                        </svg>
                                    </a>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editModal__@comment.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Update Comment</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <EditForm Model="CommentModel" OnValidSubmit="@(e => HandleSubmit(@comment, comment.Id, comment.Message))">
                            <div class="modal-body">
                                <InputText @bind-Value="comment.Message" class="form-control mb-2 form-control-sm"
                                           placeholder="Enter Message"></InputText>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-i items items__button"> Save</button>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>

            <div id="ReplyModel__@comment.Id" class="collapse">
                <EditForm Model="ReplyModel">
                    @{

                        ReplyModel.PageName = comment.PageName;
                        ReplyModel.RootId = comment.RootId;
                        ReplyModel.CategoryId = comment.CategoryId;
                        ReplyModel.SectionId = comment.SectionId;
                        ReplyModel.SubjectId = comment.SubjectId;
                        ReplyModel.To = comment.To;
                        ReplyModel.CC = comment.CC;
                    }
                    <DataAnnotationsValidator />
                    <hr class="avacado__color">
                    <div class="row custom__items border rounded-sm  text-dark pl-3 pr-3">
                        <div class="col-lg-9 col-md-12 col-sm-12 mt-3 items__left">

                            <InputText @bind-Value="ReplyModel.Message" class="form-control mb-2 form-control-sm"
                                       placeholder="Enter Message"></InputText>
                        </div>

                        <div class="col-lg-3 col-md-12 col-sm-12 mt-3 items__right">
                            <span class="oi oi-paperclip items"></span>
                            <span class="oi oi-warning items"></span>
                            <button type="submit" class="btn-md btn-i items items__button col-12 " data-toggle="collapse"
                                    data-target="#ReplyModel__@comment.Id"
                                    @onclick="@(e => AddComment(@ReplyModel, @comment.Id))">
                                Post
                            </button>
                        </div>
                    </div>
                </EditForm>
            </div>

            @foreach (var reply in comment.Replies)
            {

                if (reply.ParentId != comment.Id) return;

                <div class="comment__area first_reply">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="comment__name">
                                <p>@reply.NameOfCommentor</p>
                            </div>
                        </div>
                        <div class="col-md-9 mobile__full">
                            <div class="comment_date inline__display">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="time_date">
                                            @reply.CreationTime.ToString("MMMM d, yyyy") @reply.CreationTime.ToString("hh:mm tt") @if (@reply.CreationTime.ToString("GMT z") == "G7T +8")
                                            {<span class="time"> HKT</span>}
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" data-toggle="collapse" data-target="#SecondReplyModel__@reply.Id"
                                                class="btn bg-btn col-12 text-light form-control">
                                            Reply
                                        </button>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="settings__comment">
                                            <button type="button" data-toggle="collapse"
                                                    data-target="#set__@reply.Id">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                     fill="#7B8E61" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                </svg>
                                            </button>
                                        </div>
                                        <div id="set__@reply.Id" class="collapse settings__background">
                                            <a type="button" data-toggle="modal" data-target="#editModal__@reply.Id">Edit</a>
                                            <a @onclick='@(e => DeleteSelectedIds(@reply.Id))'>Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <p class="title__atachment">Replies: <span class="message">@reply.Message</span></p>

                        </div>
                    </div>
                </div>

                <div class="modal fade" id="editModal__@reply.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Update Comment</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <EditForm Model="ReplyModel" OnValidSubmit="@(e => HandleSubmit(@reply, @reply.Id, @reply.Message))">
                                <div class="modal-body">

                                    <InputText @bind-Value="reply.Message" class="form-control mb-2 form-control-sm"
                                               placeholder="Enter Message"></InputText>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-i items items__button"> Save</button>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>

                <div id="SecondReplyModel__@reply.Id" class="collapse">
                    <EditForm Model="SecondReplyModel">
                        @{

                            SecondReplyModel.PageName = reply.PageName;
                            SecondReplyModel.RootId = reply.RootId;
                            SecondReplyModel.CategoryId = reply.CategoryId;
                            SecondReplyModel.SectionId = reply.SectionId;
                            SecondReplyModel.SubjectId = reply.SubjectId;
                            SecondReplyModel.To = reply.To;
                            SecondReplyModel.CC = reply.CC;

                        }
                        <DataAnnotationsValidator />
                        <hr class="avacado__color">
                        <div class="row custom__items border rounded-sm  text-dark pl-3 pr-3">
                            <div class="col-lg-9 col-md-12 col-sm-12 mt-3 items__left">
                                <InputText @bind-Value="SecondReplyModel.Message" class="form-control mb-2 form-control-sm"
                                           placeholder="Enter Message"></InputText>
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12 mt-3 items__right">
                                <span class="oi oi-paperclip items"></span>
                                <span class="oi oi-warning items"></span>
                                <button type="submit" class="btn-md btn-i items items__button col-12 " data-toggle="collapse"
                                        data-target="#SecondReplyModel__@reply.Id"
                                        @onclick="@(e => AddComment(@SecondReplyModel, @reply.Id))">
                                    Post
                                </button>
                            </div>
                        </div>
                    </EditForm>
                </div>


                @foreach (var secondReply in reply.Replies)
                {

                    if (secondReply.ParentId != reply.Id) return;
                    <div class="comment__area second_reply">
                        <div class="row">
                            <div class="col-md-4 mobile__reduce">
                                <div class="comment__name">
                                    <p>@secondReply.NameOfCommentor</p>
                                </div>
                            </div>
                            <div class="col-md-8 mobile__width">
                                <div class="comment_date inline__display">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <p class="time_date">
                                                @secondReply.CreationTime.ToString("MMMM d, yyyy") @secondReply.CreationTime.ToString("hh:mm tt") @if (@secondReply.CreationTime.ToString("GMT z") == "G7T +8")
                                                {<span class="time"> HKT</span>}
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" data-toggle="collapse" data-target="#ThirdReplyModel__@secondReply.Id"
                                                    class="btn bg-btn col-12 text-light form-control">
                                                Reply
                                            </button>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="settings__comment">
                                                <button type="button" data-toggle="collapse"
                                                        data-target="#set__@secondReply.Id">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                         fill="#7B8E61" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    </svg>
                                                </button>
                                            </div>
                                            <div id="set__@secondReply.Id" class="collapse settings__background">
                                                <a type="button" data-toggle="modal" data-target="#editModal__@secondReply.Id">Edit</a>
                                                <a @onclick='@(e => DeleteSelectedIds(@secondReply.Id))'>Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p class="title__atachment">Replies: <span class="message">@secondReply.Message</span></p>
                            </div>
                        </div>
                    </div>


                    <div class="modal fade" id="editModal__@secondReply.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Update Comment</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <EditForm Model="ReplyModel" OnValidSubmit="@(e => HandleSubmit(@secondReply, @secondReply.Id, @secondReply.Message))">
                                    <div class="modal-body">

                                        <InputText @bind-Value="secondReply.Message" class="form-control mb-2 form-control-sm"
                                                   placeholder="Enter Message"></InputText>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-i items items__button"> Save</button>
                                    </div>
                                </EditForm>
                            </div>
                        </div>
                    </div>

                    <div id="ThirdReplyModel__@secondReply.Id" class="collapse">
                        <EditForm Model="ThirdReplyModel">
                            @{
                                ThirdReplyModel.PageName = reply.PageName;
                                ThirdReplyModel.RootId = reply.RootId;
                                ThirdReplyModel.CategoryId = reply.CategoryId;
                                ThirdReplyModel.SectionId = reply.SectionId;
                                ThirdReplyModel.SubjectId = reply.SubjectId;
                                ThirdReplyModel.To = reply.To;
                                ThirdReplyModel.CC = reply.CC;
                            }
                            <DataAnnotationsValidator />
                            <hr class="avacado__color">
                            <div class="row custom__items border rounded-sm  text-dark pl-3 pr-3">
                                <div class="col-lg-9 col-md-12 col-sm-12 mt-3 items__left">
                                    <InputText @bind-Value="ThirdReplyModel.Message" class="form-control mb-2 form-control-sm"
                                               placeholder="Enter Message"></InputText>
                                </div>
                                <div class="col-lg-3 col-md-12 col-sm-12 mt-3 items__right">
                                    <span class="oi oi-paperclip items"></span>
                                    <span class="oi oi-warning items"></span>
                                    <button type="submit" class="btn-md btn-i items items__button col-12 " data-toggle="collapse"
                                            data-target="#ThirdReplyModel__@secondReply.Id"
                                            @onclick="@(e => AddComment(@ThirdReplyModel, @reply.Id))">
                                        Post
                                    </button>
                                </div>
                            </div>
                        </EditForm>
                    </div>

                }
            }

        }
    }