@* @page "/graphv2" *@

@if (PageName == "Timeline")
    {
        <div class="row ">
            <div class="col-md-12 col-lg-4 col-sm-12">
                <p class="text-center graph-text">Influencer Overview</p>
                <div class="border rounded-lg shadow-sm bg-white b-spc">
                    @*<table class="table responsive table-striped table-responsive">*@

                    <DataGrid TItem="CollectionListDto"
                              Data="@_CollectionList"
                              AggregateData="@_CollectionList"
                              Responsive
                              FixedHeader
                              FixedHeaderTableHeight="300px"
                              Hoverable="true"
                              Resizable
                              Striped="true">

                        <DataGridAggregates>
                            <DataGridAggregate Field="@nameof(CollectionListDto.InfluencerNames)">
                                <DisplayTemplate>
                                    @($"Total: {context.Value}")
                                </DisplayTemplate>
                            </DataGridAggregate>
                            <DataGridAggregate Field="@nameof(CollectionListDto.CollectionForecastRevenue)" Aggregate="DataGridAggregateType.Sum" DisplayFormat="{0:C}" DisplayFormatProvider="@System.Globalization.CultureInfo.GetCultureInfo("en-US")" />
                            <DataGridAggregate Field="@nameof(CollectionListDto.CollectionForecastQuantity)" Aggregate="DataGridAggregateType.Sum" />
                        </DataGridAggregates>
                        <ChildContent>
                            <DataGridColumn TItem="CollectionListDto" Field="@nameof(CollectionListDto.InfluencerNames)" Caption="Influencer Name" Editable>
                                <DisplayTemplate>
                                    <div onclick="location.href='@($"/collectionandproduct/collections/details/{context.Id}'")">
                                        @context.InfluencerNames
                                    </div>
                                </DisplayTemplate>
                            </DataGridColumn>
                            <DataGridColumn TItem="CollectionListDto" Field="@nameof(CollectionListDto.Name)" Caption="Collection Name" Editable>
                                <DisplayTemplate>
                                    <div onclick="location.href='@($"/collectionandproduct/collections/details/{context.Id}'")">
                                        @context.Name
                                    </div>
                                </DisplayTemplate>
                            </DataGridColumn>
                            <DataGridColumn TItem="CollectionListDto" Field="@nameof(CollectionListDto.DesignStatusValue)" Caption="Collection Status" Editable>
                                <DisplayTemplate>
                                    <div onclick="location.href='@($"/collectionandproduct/collections/details/{context.Id}'")">
                                        @context.DesignStatusValue
                                    </div>
                                </DisplayTemplate>
                            </DataGridColumn>
                            <DataGridColumn TItem="CollectionListDto" Field="@nameof(CollectionListDto.CollectionForecastRevenue)" Caption="Forecast Revenue" Editable>
                                <DisplayTemplate>
                                    <div onclick="location.href='@($"/collectionandproduct/collections/details/{context.CollectionForecastRevenue}'")">
                                        $@context.CollectionForecastRevenue
                                    </div>
                                </DisplayTemplate>
                            </DataGridColumn>
                            <DataGridColumn TItem="CollectionListDto" Field="@nameof(CollectionListDto.CollectionForecastQuantity)" Caption="Forecast Quantity" Editable>
                                <DisplayTemplate>
                                    <div onclick="location.href='@($"/collectionandproduct/collections/details/{context.CollectionForecastQuantity}'")">
                                        @context.CollectionForecastQuantity
                                    </div>
                                </DisplayTemplate>
                            </DataGridColumn>
                        </ChildContent>
                    </DataGrid>
                </div>

            </div>

            <div class="col-md-12 col-lg-4 col-sm-12 ">

                <p class="text-center graph-text">Most Available Colors</p>
                <div class="border rounded-lg shadow-sm bg-white b-spc">
                    @* <Chart Config="_lineconfig"></Chart> *@
                    <div class="barconfig__scale ">
                            <Chart @ref="AvailableColorsBarChart" TItem="double" Options="@options"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 col-sm-12">
                <p class="text-center graph-text">Most Available Materials</p>
                <div class="border rounded-lg shadow-sm bg-white b-spc">
                    <div class="barconfig__scale ">
                            <Chart @ref="AvailableColorsBarChart" TItem="double" Options="@options"/>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
         <div class="row ">
            <div class="col-md-12 col-lg-4 col-sm-12 ">
                <p class="text-center graph-text">Most Available Colors</p>
                <div class="border rounded-lg shadow-sm bg-white b-spc">
                    @* <Chart Config="_lineconfig"></Chart> *@
                    <div class="barconfig__scale ">
                            <Chart @ref="AvailableColorsBarChart" TItem="double" Options="@options"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 col-sm-12">
                <p class="text-center graph-text">Most Available Materials</p>
                <div class="border rounded-lg shadow-sm bg-white b-spc">
                    <div class="barconfig__scale ">
                            <Chart @ref="AvailableMaterialsBarChart" TItem="double" Options="@options"/>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4 col-sm-12">
                <p class="text-center graph-text">Warehouse Capacity per Material Type</p>
                <div class="border rounded-lg shadow-sm bg-white b-spc">
                    <div class="barconfig__scale ">
                             <Chart @ref="WarehouseCapacityPerMaterialTypeBarChart" TItem="double"/>
                    </div>
                </div>
            </div>
        </div>
    }
@* <Chart @ref="AvailableColorsBarChart" TItem="double"/>
<Chart @ref="AvailableMaterialsBarChart" TItem="double"/> *@

