@page "/influencers/financials/{Id:guid}"
@using SSY.Blazor.Pages.Influencers.Shared.NavInfluencerDetail
<NavInfluencerDetail Id="Id"></NavInfluencerDetail>

<div class="design-phase-header-container">
    <div class="design-phase-content">
        <div class="row">
            <div class="col-md">
                <span class="design-phase-header-label">Dashboard</span> >  <span class="design-phase-header-label">INFLUENCERS</span> > <span class="selected-component-class">@Module.ToUpper()</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12 mt-5">
                <div class="row">
                    <div class="col-md-2">
                        <div class="design-phase-nav-content @(SelectedComponent == "bankdetails" ? "active" : "")">
                            <span class="fa-stack fa-2x mx-auto" @onclick="@(() => SetSelectedComponent("bankdetails"))">
                                <i class="fa fa-circle fa-stack-2x fa-5x" aria-hidden="true"></i>
                                <i class="fa icon-inspiration-sm d-block fa-stack-1x" aria-hidden="true"></i>
                            </span>
                            <span class="nav-label">Bank Details</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="design-phase-nav-content @(SelectedComponent == "sales" ? "active" : "")">
                            <span class="fa-stack fa-2x mx-auto" @onclick="@(() => SetSelectedComponent("sales"))">
                                <i class="fa fa-circle fa-stack-2x fa-5x" aria-hidden="true"></i>
                                <i class="fa icon-materials-sm d-block fa-stack-1x" aria-hidden="true"></i>
                            </span>
                            <span class="nav-label">Sales</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="design-phase-nav-content @(SelectedComponent == "revenuerelease" ? "active" : "")">
                            <span class="fa-stack fa-2x mx-auto" @onclick="@(() => SetSelectedComponent("revenuerelease"))">
                                <i class="fa fa-circle fa-stack-2x fa-5x" aria-hidden="true"></i>
                                <i class="fa icon-inspiration-sm d-block fa-stack-1x" aria-hidden="true"></i>
                            </span>
                            <span class="nav-label">Revenue Release</span>
                        </div>
                    </div>
                   

                    
                </div>
            </div>
            <div class="col-lg-4 mt-4 your-design-col">
                <div class="your-design-section-content">
                    <span class="your-design-main-text">Jenna Compono</span>
                    @* <span>All of your inspiration and creations are here</span> *@
                </div>
            </div>
        </div>
    </div>
</div>
<CascadingValue Value="this" Name="MainPage">
    
    @if (SelectedComponent == "bankdetails")
    {
        <BankDetails/>
    }
    else if (SelectedComponent == "sales")
    {
        <Sales></Sales>
    }
    else if (SelectedComponent == "revenuerelease")
    {
        <p>designboard</p>
    }
</CascadingValue>