<h5 class="row mt-3">Bottom Measurements</h5>
<div class="row mt-3">

    <div class="col-md-3">
        <div class="d-inline-flex">
            <img class="img-src-measurments mt-3" src="/influencer-sizing/icon-waist-girth@2x.png" />
            <div class="col mt-3">
                <div class="border rounded-sm text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">WAIST GIRTH</h5>
                    <p class="text-muted input-field-text" contenteditable="false">
                        <InputNumber @bind-Value="@MainPage.SizingModel.WaistGirth" placeholder="Enter Waist Girth" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-inline-flex">
            <img class="img-src-measurments mt-3" src="/influencer-sizing/icon-low-waist-girth@2x.png" />
            <div class="col mt-3">
                <div class="border rounded-sm text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">LOW WAIST GIRTH</h5>
                    <p class="text-muted input-field-text" contenteditable="false">
                        <InputNumber @bind-Value="@MainPage.SizingModel.LowWaistGirth" placeholder="Enter Low Waist Girth" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-inline-flex">
            <img class="img-src-measurments mt-3" src="/influencer-sizing/icon-lower-waist-girth@2x.png" />
            <div class="col mt-3">
                <div class="border rounded-sm text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">LOWER WAIST GIRTH</h5>
                    <p class="text-muted input-field-text" contenteditable="false">
                        <InputNumber @bind-Value="@MainPage.SizingModel.LowerWaistGirth" placeholder="Enter Lower Waist Girth" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-inline-flex">
            <img class="img-src-measurments mt-3" src="/influencer-sizing/icon-hip-girth@2x.png" />
            <div class="col mt-3">
                <div class="border rounded-sm text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">HIP GIRTH</h5>
                    <p class="text-muted input-field-text" contenteditable="false">
                        <InputNumber @bind-Value="@MainPage.SizingModel.HipGirth" placeholder="Enter Hip Girth" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-inline-flex">
            <img class="img-src-measurments mt-3" src="/influencer-sizing/icon-croth-length@2x.png" />
            <div class="col mt-3">
                <div class="border rounded-sm text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">CROTCH LENGTH(TO LOW WAIST)</h5>
                    <p class="text-muted input-field-text" contenteditable="false">
                        <InputNumber @bind-Value="@MainPage.SizingModel.CrotchLength" placeholder="Enter Crotch Length(To Low Waist)" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-inline-flex">
            <img class="img-src-measurments mt-3" src="/influencer-sizing/icon-knee-girth@2x.png" />
            <div class="col mt-3">
                <div class="border rounded-sm text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">KNEE GIRTH</h5>
                    <p class="text-muted input-field-text" contenteditable="false">
                        <InputNumber @bind-Value="@MainPage.SizingModel.KneeGirth" placeholder="Enter Knee Girth" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-inline-flex">
            <img class="img-src-measurments mt-3" src="/influencer-sizing/icon-calf-girth@2x.png" />
            <div class="col mt-3">
                <div class="border rounded-sm text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">CALF GIRTH</h5>
                    <p class="text-muted input-field-text" contenteditable="false">
                        <InputNumber @bind-Value="@MainPage.SizingModel.CalfGirth" placeholder="Enter Calf Girth" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-inline-flex">
            <img class="img-src-measurments mt-3" src="/influencer-sizing/icon-inseam-inleg@2x.png" />
            <div class="col mt-3">
                <div class="border rounded-sm text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">INSEAM / INLEG</h5>
                    <p class="text-muted input-field-text" contenteditable="false">
                        <InputNumber @bind-Value="@MainPage.SizingModel.InseamInLeg" placeholder="Enter Inseam/Inleg" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-inline-flex">
            <img class="img-src-measurments mt-3" src="/influencer-sizing/icon-inseam-inleg@2x.png" />
            <div class="col mt-3">
                <div class="border rounded-sm text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">INSEAM / INLEG (ANGKLE)</h5>
                    <p class="text-muted input-field-text" contenteditable="false">
                        <InputNumber @bind-Value="@MainPage.SizingModel.InseamInLegAngkle" placeholder="Enter Inseam/InLeg(Angkle)" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-inline-flex">
            <img class="img-src-measurments mt-3" src="/influencer-sizing/icon-side-seam@2x.png" />
            <div class="col mt-3">
                <div class="border rounded-sm text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">SIDE SEAM</h5>
                    <p class="text-muted input-field-text" contenteditable="false">
                        <InputNumber @bind-Value="@MainPage.SizingModel.SideSeam" placeholder="Enter Side Seam" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" />
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
