<h5 class="mt-2">Top Measurements</h5>
<div class="row mt-3">

    <div class="col-md-3">
        <div class="d-inline-flex">
            <img class="img-src-measurments mt-3" src="/influencer-sizing/icon-neck-girth@2x.png" />
            <div class="col mt-3">
                <div class="border rounded-sm text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">NECK GIRTH</h5>
                    <p class="text-muted input-field-text" contenteditable="false">
                        <InputNumber @bind-Value="@MainPage.SizingModel.NeckGirth" placeholder="Enter Length" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-inline-flex">
            <img class="img-src-measurments mt-3" src="/influencer-sizing/icon-arm-length@2x.png" />
            <div class="col mt-3">
                <div class="border rounded-sm text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">ARM LENGTH(FROM MID SHOULDER)</h5>
                    <p class="text-muted input-field-text" contenteditable="false">
                        <InputNumber @bind-Value="@MainPage.SizingModel.ArmLength" placeholder="Enter Length" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-inline-flex">
            <img class="img-src-measurments mt-3" src="/influencer-sizing/icon-shoulder-length@2x.png" />
            <div class="col mt-3">
                <div class="border rounded-sm text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">SHOULDER LENGTH</h5>
                    <p class="text-muted input-field-text" contenteditable="false">
                        <InputNumber @bind-Value="@MainPage.SizingModel.ShoulderLenth" placeholder="Enter Length" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-inline-flex">
            <img class="img-src-measurments mt-3" src="/influencer-sizing/icon-armhole-girth@2x.png" />
            <div class="col mt-3">
                <div class="border rounded-sm text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">ARMHOLE GIRTH</h5>
                    <p class="text-muted input-field-text" contenteditable="false">
                        <InputNumber @bind-Value="@MainPage.SizingModel.ArmholeGirth" placeholder="Enter Length" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-inline-flex">
            <img class="img-src-measurments mt-3" src="/influencer-sizing/icon-across-font@2x.png" />
            <div class="col mt-3">
                <div class="border rounded-sm text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">ACROSS FRONT</h5>
                    <p class="text-muted input-field-text" contenteditable="false">
                        <InputNumber @bind-Value="@MainPage.SizingModel.AcrossFront" placeholder="Enter Length" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-inline-flex">
            <img class="img-src-measurments mt-3" src="/influencer-sizing/icon-across-back@2x.png" />
            <div class="col mt-3">
                <div class="border rounded-sm text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">ACROSS BACK</h5>
                    <p class="text-muted input-field-text" contenteditable="false">
                        <InputNumber @bind-Value="@MainPage.SizingModel.AcrossBack" placeholder="Enter Length" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-inline-flex">
            <img class="img-src-measurments mt-3" src="/influencer-sizing/icon-above-bust-girth@2x.png" />
            <div class="col mt-3">
                <div class="border rounded-sm text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">ABOVE BUST GIRTH</h5>
                    <p class="text-muted input-field-text" contenteditable="false">
                        <InputNumber @bind-Value="@MainPage.SizingModel.AboveBustGirth" placeholder="Enter Length" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-inline-flex">
            <img class="img-src-measurments mt-3" src="/influencer-sizing/icon-bust-girth@2x.png" />
            <div class="col mt-3">
                <div class="border rounded-sm text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">BUST GIRTH</h5>
                    <p class="text-muted input-field-text" contenteditable="false">
                        <InputNumber @bind-Value="@MainPage.SizingModel.BustGirth" placeholder="Enter Length" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-inline-flex">
            <img class="img-src-measurments mt-3" src="/influencer-sizing/icon-chest-width@2x.png" />
            <div class="col mt-3">
                <div class="border rounded-sm text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">CHEST WIDTH</h5>
                    <p class="text-muted input-field-text" contenteditable="false">
                        <InputNumber @bind-Value="@MainPage.SizingModel.ChestWidth" placeholder="Enter Length" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-inline-flex">
            <img class="img-src-measurments mt-3" src="/influencer-sizing/icon-back-waist-lenght@2x.png" />
            <div class="col mt-3">
                <div class="border rounded-sm text-dark pl-3 pr-3">
                    <!--!-->
                    <h5 class="mt-2 text-muted input-text">BACK WAIST LENGTH</h5>
                    <p class="text-muted input-field-text" contenteditable="false">
                        <InputNumber @bind-Value="@MainPage.SizingModel.BackWaistLength" placeholder="Enter Length" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" />
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>