
<div class="mt-3 mb-3 inline__flex filter row">
    <div class="col-md-12">
        <Searchbox></Searchbox>
    </div>
</div>

<div class="pl-3 pr-3 table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="tb-header"></th>
                <th class="pl-4 tb-header text-lef">Subject</th>
                <th class="tb-header text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in AutoEmailListModel?.Result?.Items)
            {
                <tr>
                    <td class="select-checkbox"><input type="checkbox" /></td>
                    <td class="pl-4 tb-td-text text-left">@item.Subject</td>
                    <td class="tb-td-text text-center">

                        <svg xmlns="http://www.w3.org/2000/svg" @onclick="@(e => EditAutoEmail(@item))" data-toggle="modal" data-target="#autoEmail" width="20" height="20" fill="#7B8E61"
                             class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                        </svg> &nbsp; &nbsp;

                        <svg xmlns="http://www.w3.org/2000/svg" @onclick="@(e => RemoveAutoEmail(@item.Id))" width="20" height="20" fill="#7B8E61" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                        </svg>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<EditForm Model="AutoEmailModel" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <div class="modal fade" id="autoEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @if (IsAddAutoEmail)
                    {
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Auto Email Configuration</h5>
                    }
                    else
                    {
                        <h5 class="modal-title" id="exampleModalLongTitle">Update Email Details</h5>
                    }
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="(e => CloseAutoEmail())">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group mt-4">
                        <label for="formGroupExampleInput">Subject<span class="text-danger">*</span></label>
                        <InputText @bind-Value="AutoEmailModel.Subject" class="form-control mb-2 form-control-sm" placeholder="Enter Subject" disabled />
                        <ValidationMessage For="@(() => AutoEmailModel.Subject)" />
                    </div>

                    <div class="form-group mt-4">
                        <label for="formGroupExampleInput">Recepients</label>
                        <InputText @bind-Value="AutoEmailModel.To" class="form-control mb-2 form-control-sm" placeholder="Enter To" />
                        <ValidationMessage For="@(() => AutoEmailModel.To)" />

                        <div class="form-group mt-2">
                            <InputText @bind-Value="AutoEmailModel.Cc" class="form-control mb-2 form-control-sm" placeholder="Enter Cc" />
                            <ValidationMessage For="@(() => AutoEmailModel.Cc)" />
                        </div>
                    </div>
                    <label for="formGroupExampleInput">Email Body</label>
                    <div class="border rounded-sm bg-light text-dark pl-3 pr-3 mt-2">
                        <div class="form-group mt-4 email-body">
                            @((MarkupString)AutoEmailModel.EmailBody)
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn text-light btn-danger buttons__class"
                            data-dismiss="modal" @onclick="(e => CloseAutoEmail())">
                        Close
                    </button>
                    <button type="submit" class="btn bg-btn text-light btn-success buttons__class">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>
