<div class="border rounded-lg p-4 roll_loc shadow-sm bg-white social-media">
    <div class="inline__flex filter">
        <div class="d-flex justify-content-between ">
            <h3 class="header-text">Social Media</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
            <div class="border rounded-sm text-dark pl-3 pr-3">
                <!--!-->
                <h5 class="mt-2 text-muted input-text">INSTAGRAM</h5>
                <p class="text-muted input-field-text" contenteditable="false">
                    <InputText @bind-Value="@ActualInfos.UserDetail.Instagram" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" placeholder="Enter Instagram" />
                    <ValidationMessage For="()=>ActualInfos.UserDetail.Instagram" />
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
            <div class="border rounded-sm text-dark pl-3 pr-3">
                <!--!-->
                <h5 class="mt-2 text-muted input-text">FACEBOOK</h5>
                <p class="text-muted input-field-text" contenteditable="false">
                    <InputText @bind-Value="@ActualInfos.UserDetail.Facebook" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" placeholder="Enter Facebook" />
                    <ValidationMessage For="()=>ActualInfos.UserDetail.Facebook" />
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
            <div class="border rounded-sm text-dark pl-3 pr-3">
                <!--!-->
                <h5 class="mt-2 text-muted input-text">YOUTUBE</h5>
                <p class="text-muted input-field-text" contenteditable="false">
                    <InputText @bind-Value="@ActualInfos.UserDetail.Youtube" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" placeholder="Enter Youtube" />
                    <ValidationMessage For="()=>ActualInfos.UserDetail.Youtube" />
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
            <div class="border rounded-sm text-dark pl-3 pr-3">
                <!--!-->
                <h5 class="mt-2 text-muted input-text">TWITTER</h5>
                <p class="text-muted input-field-text" contenteditable="false">
                    <InputText @bind-Value="@ActualInfos.UserDetail.Twitter" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" placeholder="Enter Twitter" />
                    <ValidationMessage For="()=>ActualInfos.UserDetail.Twitter" />
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
            <div class="border rounded-sm text-dark pl-3 pr-3">
                <!--!-->
                <h5 class="mt-2 text-muted input-text">TIKTOK</h5>
                <p class="text-muted input-field-text" contenteditable="false">

                    <InputText @bind-Value="@ActualInfos.UserDetail.Tiktok" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" placeholder="Enter Tiktok" />
                    <ValidationMessage For="()=>ActualInfos.UserDetail.Tiktok" />
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
            <div class="border rounded-sm text-dark pl-3 pr-3">
                <!--!-->
                <h5 class="mt-2 text-muted input-text">PINTEREST</h5>
                <p class="text-muted input-field-text" contenteditable="false">
                    <InputText @bind-Value="@ActualInfos.UserDetail.Pinterest" class="mb-0 col-12 form-control-sm bg-white inputfield materialButton" placeholder="Enter Tiktok" />
                    <ValidationMessage For="()=>ActualInfos.UserDetail.Pinterest" />
                </p>
            </div>
        </div>

    </div>
</div>